/* Top nav Section*/
.topnav {
    background-color: #003cb3;
    overflow: hidden;
    width: 100%;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 5px 15px 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 100px; /* height of volleyball logo*/
    transition: color 0.2s linear;
}

.topnav img {
    float: left;
}

.topnav a:hover {
    color: #ffd11a;
}

.topnav a.active {
    background-color: #ffd11a;
    color: black;
}

a.noStyle:hover {
    background-color: #003cb3;
}

/*body and paragraph styling*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: justify;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url(images/sand.jpg);
}

/*div sectioning and formatting*/
div.container {
    position: relative;
    top: 30px;
    border: solid #003cb3;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
    background: #f2f2f2;
}

div.contact {
    position: relative;
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
}

div.contact a {
    color: #003cb3;
}

div.textHead {
    position: relative;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}

div.textBody {
    position: relative;
    text-align: justify;
    font-size: xx-large;
    padding-left: 10px;
    padding-right: 10px;
}

div.textBodySmall {
    position: relative;
    text-align: justify;
    font-size: large;
    padding-left: 10px;
    padding-right: 10px;
}

div.textBody a {
    color: #003cb3;
    text-decoration: none;
}

/*span class's*/
.bold {
    font-weight: 700;
}
/*sign up form formtting*/
label {
    display: block;
    width: 150px;
    float: left;
    cursor: pointer;
}
label:before {
    display: block;
    content: " ";
    padding-top: 3px;
}
input {
    margin-bottom: 8px;
}