/* Top nav Section*/
.topnav {
    background-color: #003cb3;
    overflow: hidden;
    width: 100%;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 15px 5px;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 100px; /* height of volleyball logo*/
    transition: color 0.2s linear;
}

.topnav img {
    float: left;
}

.topnav a:hover {
    color: #ffd11a;
}

.topnav a.active {
    background-color: #ffd11a;
    color: black;
}

a.noStyle:hover {
    background-color: #003cb3;
}

/*body styling*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url(images/sand.jpg);
}

/*Contact page formatting*/
div.container {
    position: relative;
    top: 20px;
    border: solid #003cb3;
    width: 94%;
    margin: 0 auto;
    padding-bottom: 10px;
    background: #f2f2f2;
    text-align: justify;
    overflow: hidden;
}

/*Main div sectioning and formatting*/
div.contactBody {
    position: relative;
    text-align: center;
    vertical-align: middle;
    font-size: 3em;
}

div.contactBody a {
    color: #003cb3;
}

div.textHead {
    position: relative;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}

div.textBody, div.textBodyMedium, div.textBodySmall {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

div.textBody {
    font-size: xx-large;
}

div.textBodyMedium {
    font-size: 1.2em;
}

div.textBodySmall {
    font-size: large;
}

div.textBody a, div.textBodyMedium a {
    color: #003cb3;
    text-decoration: none;
}

/*span class's*/
.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

/*sign up form formtting*/
label {
    display: block;
    width: 150px;
    float: left;
    cursor: pointer;
}

label:before {
    display: block;
    content: " ";
    padding-top: 3px;
}

input {
    margin-bottom: 8px;
}

/*list space formatting*/
li:after {
    display: block;
    content: " ";
    padding-top: 15px;
}

/*Table Formating*/
table {
    border-collapse: collapse;
    width: 100%;
}

th {
    color: black;
}

th, td {
    text-align: center;
    padding: 2px;
    border-bottom: 2px solid black;
}

table tbody tr:hover {
    background-color: #ffd11a;
}

/* image formatting */
img.right {
    float: right;
    margin-left: 10px;
}

img.left {
    float: left;
    margin-right: 10px;
}

img.center {
    display: block;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 10px;
}
div.center{
    display: block;
    margin: 0 auto;
    width: 4%;
    padding-top: 40px;
    padding-bottom: 10px;
}